{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div>
    <h5 class="center-align">ASCII to Logical notation and more converter!</h5>
  </div>
<div class="container">
{#The input row#}
<div class="row">

{#    form for posting the input and receiving the ouptup #}

    <form method="POST" action="" class="col s12">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="=(>(A, B), |(~(A), B))" id="Input" type="text" class="validate">
          <label for="Input">Input</label>
        </div>
          <div class="input-field col s6">
          <button type="submit" class="btn-floating pulse"><i class="fas fa-angle-right"></i></button>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="Output" id="disabled" type="text" class="validate">
          <label for="disabled">Output</label>
        </div>
      </div>
{#        Table that will contain all of the conversions#}
        <table>
            <thead>
              <tr>
                  <th>Result</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Output</td>
                <td>result goes here</td>
              </tr>

              <tr>
                <td>smth else</td>
                <td>result goes here</td>
              </tr>

            <tr>
                <td>NAND</td>
                <td>result goes here</td>
              </tr>

            </tbody>
        </table>
    </form>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/yuna.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}