{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div>
    <h5 class="center-align">ASCII to Logical notation and more converter!</h5>
  </div>
<div class="container">
{#The input row#}
<div class="row">


{#    form for posting the input and receiving the ouptup #}

    <form method="POST" action="/tool/convert/" class="col s12">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input oninput="filterInput(this)" placeholder="=(>(A, B), |(~(A), B))" name="expr" value="{{ input }}" type="text" class="validate">
          <label for="Input">Input</label>
        </div>
          <div class="input-field col s6">
          <button type="submit" class="btn-floating pulse"><i class="fas fa-angle-right"></i></button>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="output" style="color: #212121" disabled value="{{ expr }}" id="disabled" type="text" class="validate">
          <label for="disabled">Expression in Infix</label>
        </div>
        <div class="input-field col s12">
          <input name="output" style="color: #212121" disabled value="{{ expr_bool }}" id="disabled" type="text" class="validate">
          <label for="disabled">Expression in Python Boolean</label>
        </div>
          <div class="input-field col s12">
          <input name="hex" style="color: #212121" disabled value="{{ hex }}" id="disabled" type="text" class="validate">
          <label for="disabled">Hexadecimal</label>
        </div>
          <div class="input-field col s12">
          <input name="bin" style="color: #212121" disabled value="{{ bin }}" id="disabled" type="text" class="validate">
          <label for="disabled">Binary</label>
        </div>

        <div class="input-field col s12">
          <textarea name="bin" style="color: #212121" disabled id="textarea1" class="materialize-textarea">{{ tt_dnf }}</textarea>
          <label for="disabled">DNF for the Truth Table</label>
        </div>
        <div class="input-field col s12">
          <textarea name="bin" style="color: #212121" disabled id="textarea1" class="materialize-textarea">{{ stt_dnf }}</textarea>
          <label for="disabled">DNF for the Simplified Truth Table</label>
        </div>

      </div>

{#        Table that will contain all of the conversions#}
    <div class="card-panel hoverable">
        <h5><b>Truth Table</b></h5>
        <table>
            <thead>
              <tr>
            {% for predicate in pred_list %}
                  <th>{{ predicate }}</th>
            {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for row in TruthTable %}
                <tr>
                  {% for value in row.values %}
                      <td>{{ value }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="card-panel hoverable">
            <h5><b>Simplified Truth Table</b></h5>
        <table>
            <thead>
              <tr>
            {% for predicate in pred_list %}
                  <th>{{ predicate }}</th>
            {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for row in SimplifiedTT.truth_table %}
                <tr>
                  {% for value in row.values %}
                      <td>{{ value }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </form>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
         <div class="card-panel hoverable">
            <h5><b>Graphical representation</b></h5>
              <img style="" src="{% static 'images/tree.png' %}" alt="" class="responsive-img ">
         </div>
      </div>
  </div>
</div>
{% endblock %}
